@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Koulen", cursive;
}
:root {
  --size-bezel: 0.3rem;
  --size-radius: 5px;
}

.light {
  --main-color: #fff;
  --invt-color: rgb(227, 195, 168);
  --sec-color: rgb(236, 109, 83);
  --bck-color: rgba(103, 101, 101, 0.6);
  --content: url(./clear-sky.jpg);
}

.dark {
  --main-color: rgb(35, 34, 34);
  --invt-color: rgb(223, 215, 255);
  --sec-color: #505fea;
  --bck-color: rgba(255, 255, 255, 0.4);
  --color: var(--main-color);
  --content: url(./night-sky.jpg);
}

.main {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) minmax(auto, 2fr) minmax(auto, 1fr);
  justify-items: center;

  .basic {
    display: grid;
    grid-template-rows: repeat(6, auto) 1fr;
    align-items: center;
    #weather-description {
      color: var(--invt-color);
      font-size: 2rem;
      align-self: end;
    }
    #city,
    #date {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-style: italic;
      color: var(--main-color);
    }
    #date {
      font-size: 0.8rem;
      align-self: end;
    }
    #temp {
      font-size: 2.5rem;
      color: var(--sec-color);
    }
    button {
      font-size: 1.1rem;
      background: transparent;
      border: none;
      color: var(--main-color);
      text-align: left;
      cursor: pointer;
    }
    .search-box {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      input {
        background: transparent;
        border: none;
        border-bottom: var(--sec-color) solid 1px;
      }
      input:focus {
        background: rgba(255, 255, 255, 0.4);
        outline: none;
      }
      .iconify {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }
  }

  .advance,
  .basic {
    color: var(--main-color);
    background: var(--bck-color);
    padding: 2rem;
  }
  .advance {
    display: grid;
    grid-auto-flow: row;
    gap: 0.8rem;
    > div {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(2, auto);
      .text {
        align-self: end;
      }
      .number {
        grid-column: 2/3;
      }
      .iconify {
        color: var(--invt-color);
        margin-right: 0.5rem;
        font-size: 2rem;
        align-self: center;
        grid-row: 1/3;
      }
    }
  }
}

body {
  display: grid;
  grid-template-rows: 1fr auto 1fr;

  padding: 4rem 2rem 0 2rem;
  height: 100vh;
  width: 100vw;
}

.extended {
  padding: clamp(2rem, 4rem, 6rem);
  font-size: 1.4rem;
  display: grid;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-items: center;
  overflow-y: auto;
  .card {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    width: 120px;
    background-color: var(--bck-color);
    padding: 1rem;
    border: 1px solid var(--main-color);
    box-shadow: 2px 2px 4px var(--bck-color);
    .day {
      color: var(--invt-color);
    }
  }
}
.card:hover {
  outline: var(--sec-color) solid 2px;
  box-shadow: 0px 0px 13px var(--invt-color);
}

footer {
  align-self: end;
  justify-self: center;
  a {
    text-decoration: none;
    color: var(--invt-color);
  }
}

img.bg {
  content: var(--content);
  z-index: -1;
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}

.input {
  position: relative;

  &__label {
    position: absolute;
    left: 0;
    top: 0;
    padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
    margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
    background: pink;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    background: var(--sec-color);
    transition: transform 120ms ease-in;
    font-size: 0.8rem;
    color: var(--invt-color);
    border-radius: var(--size-radius);
  }
  &__field {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
    color: var(--sec-color);
    background: transparent;

    &:focus,
    &:not(:placeholder-shown) {
      & + .input__label {
        transform: translate(0.25rem, -65%) scale(0.8);
        color: var(--sec-color);
        background: var(--invt-color);
      }
    }
  }
}

.error {
  display: flex;
  opacity: 0;
  bottom: -0.5em;
  background: var(--invt-color);
  width: calc(100% - 24px);
  color: var(--sec-color);
  position: absolute;
  font-size: 0.8rem;
  padding: 0.1rem;
  justify-content: center;
}
.error_active {
  opacity: 1;
  bottom: calc(-1em - 0.2rem - 1px);
  transition: bottom 250ms ease-in-out, opacity 200ms ease-in-out;
}
@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
  body {
    padding: 1rem;
  }
}
